
## <summary>policy for decentrahub</summary>


########################################
## <summary>
##	Transition to decentrahub.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`decentrahub_domtrans',`
	gen_require(`
		type decentrahub_t, decentrahub_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, decentrahub_exec_t, decentrahub_t)
')


########################################
## <summary>
##	Execute decentrahub server in the decentrahub domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`decentrahub_initrc_domtrans',`
	gen_require(`
		type decentrahub_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, decentrahub_initrc_exec_t)
')


########################################
## <summary>
##	Search decentrahub lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`decentrahub_search_lib',`
	gen_require(`
		type decentrahub_var_lib_t;
	')

	allow $1 decentrahub_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read decentrahub lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`decentrahub_read_lib_files',`
	gen_require(`
		type decentrahub_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, decentrahub_var_lib_t, decentrahub_var_lib_t)
')

########################################
## <summary>
##	Manage decentrahub lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`decentrahub_manage_lib_files',`
	gen_require(`
		type decentrahub_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, decentrahub_var_lib_t, decentrahub_var_lib_t)
')

########################################
## <summary>
##	Manage decentrahub lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`decentrahub_manage_lib_dirs',`
	gen_require(`
		type decentrahub_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, decentrahub_var_lib_t, decentrahub_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a decentrahub environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`decentrahub_admin',`
	gen_require(`
		type decentrahub_t;
		type decentrahub_initrc_exec_t;
		type decentrahub_var_lib_t;
	')

	allow $1 decentrahub_t:process { ptrace signal_perms };
	ps_process_pattern($1, decentrahub_t)

	decentrahub_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 decentrahub_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, decentrahub_var_lib_t)

')

