# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Decentrahub Coin Daemon SNAP
Comment=main
GenericName=Decentrahub Digital Currency Daemon Client main network
Exec=decentrahub-core.daemon %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/decentrahub.png
MimeType=x-scheme-handler/dcntr;
Categories=X-Office;X-Finance;
Keywords=internet;decentrahub;zdcntr;core;wallet;daemon;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
