# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Decentrahub Coin
Comment=Decentrahub Coin QT main network
GenericName=Decentrahub Digital Currency QT client main network
Exec=decentrahub-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/decentrahub.png
MimeType=x-scheme-handler/decentrahub;
Categories=X-Office;X-Finance;
Keywords=internet;decentrahub;zdcntr;dcntr;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
